<header id="top" class="container-fluid jumbotron">
  <h1>Header</h1>
</header>
<div class="container">
  {{outlet}}
</div>
<footer id="bottom" class="container-fluid well">
  <h6>Footer</h6>
</footer>
